---
import Layout from "../layouts/Layout.astro"
---

<Layout title="" description="" index={true}>
    <main>
        <div class="py-5 bg-secondary">
            <div class="container">
                <h1 class="text-center text-light fw-bold">Contact Us</h1>
            </div>
        </div>
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h2>Get in touch with our team</h2>
                    <p>If you would like a quote for our services, or require more information on a particular issue, you can get in touch with us via email or using our quotation form. A member of our team will respond within 24 to 48 hours of your initial contact.</p>
                    <p>For a more immediate response, we encourage you to call us directly.</p>
                    <p class="mb-0"><i class="bi bi-telephone-fill me-2"></i> 0115 727 0767</p>
                    <p class="mb-0"><i class="bi bi-envelope-fill me-2"></i> mobile@lindleys.co.uk</p>
                    <p class="mb-0"><i class="bi bi-map-fill me-2"></i> Nottingham Road, Arnold, Nottingham NG5 6JZ</p>
                </div>
                <div class="col-12 col-lg-6">
                    <h2>Leave us a review!</h2>
                    <p>We'd love to hear your feedback if you've recently used our service. Follow the links below to leave a review for our business.</p>
                    <p class="mb-0"><i class="bi bi-google me-2"></i> Review us on <a href="#">Google</a></p>
                    <p class="mb-0"><i class="bi bi-facebook me-2"></i> Review us on <a href="#">Facebook</a></p>
                    <p class="mb-0"><i class="bi bi-yelp me-2"></i> Review us on <a href="#">Yell</a></p>
                </div>
            </div>
        </div>
    </main>
</Layout>