---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Navbar from "../components/Navbar.astro"
import Hero from "../components/Hero.astro"
import Features from "../components/Features.astro"
---

<Layout title="Home - Mobile Tyres Nottingham">
	<Header />
	<Navbar />
	<main>
		<!-- Hero -->
		<Hero heading="Welcome to Mobile Tyres Nottingham" subheading="Tired of waiting in a garage? Have your tyres fitted at home instead!" formStyle="online" />
		<!-- Features -->

		<!-- Introduction -->
		
	</main>
</Layout>