<aside class="container">
    <div class="border rounded-3 shadow-sm py-4 row mb-3">
        <div class="col-3 text-center">
            <i class="bi bi-calendar fs-1"></i>
        </div>
        <div class="col-9 text-start">
            <h3 class="mb-0">Flexible Service</h3>
            <p class="mb-0">Open 6 days a week</p>
        </div>
    </div>
    <div class="border rounded-3 shadow-sm py-4 bg-dark text-white row mb-3">
        <div class="col-3 text-center">
            <i class="bi bi-car-front fs-1"></i>
        </div>
        <div class="col-9 text-start">
            <h3 class="mb-0">Fast Arrival</h3>
            <p class="mb-0">Same day service</p>
        </div>
    </div>
    <div class="border rounded-3 shadow-sm bg-success text-white py-4 row mb-3">
        <div class="col-3 text-center">
            <i class="bi bi-map fs-1"></i>
        </div>
        <div class="col-9 text-start">
            <h3 class="mb-0">Local Areas</h3>
            <p class="mb-0">We serve Nottingham and surrounding areas</p>
        </div>
    </div>
</aside>