<article class="border py-4">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <img src="/imgs/trustpilot.png" alt="" class="w-100">
            </div>
            <div class="col-6 d-flex align-items-center">
                <p class="fs-3 m-0 fw-bold">Rated excellent by our customers</p>
            </div>
        </div>
    </div>
</article>