<header class="bg-light">
    <div class="container d-flex justify-content-between align-items-center py-5">
        <a href="/" class="navbar-brand fw-bold fs-1">Mobile Tyres <span class="text-success">Nottingham</span></a>
        <div>
            <div class="d-none d-lg-block fs-3 text-end">
                <p class="mb-0">Call Us Today For A Price</p>
                <p class="mb-0 fw-bold text-success"><i class="bi bi-telephone-fill"></i> 0115 727 0767</p>
            </div>
            <a href="tel:01157270767" class="btn btn-dark btn-lg d-lg-none"><i class="bi bi-telephone-fill"></i></a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fw-bold">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link"><i class="bi bi-house-door-fill"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Mobile Tyre Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="/mobile-tyre-fitting" class="dropdown-item">Mobile Tyre Fitting</a></li>
                            <li><a href="/mobile-puncture-repair" class="dropdown-item">Mobile Puncture Repair</a></li>
                            <li><a href="/emergency-tyre-replacement" class="dropdown-item">Emergency Tyre Replacement</a></li>
                            <li><a href="/mobile-caravan-tyre-fitting" class="dropdown-item">Mobile Caravan Tyre Fitting</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Other Services</a>
                        <ul class="dropdown-menu">
                            <a href="/mobile-battery-replacement" class="dropdown-item">Mobile Battery Replacement</a>
                            <a href="/locking-wheel-nut-removal" class="dropdown-item">Locking Wheel Nut Removal</a>
                            <a href="/tyre-pressure-monitoring-systems" class="dropdown-item">Tyre Pressure Monitoring Systems</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Coverage</a>
                        <ul class="dropdown-menu">
                            <a href="/mobile-tyre-fitting/arnold" class="dropdown-item">Arnold</a>
                            <a href="/mobile-tyre-fitting/beeston" class="dropdown-item">Beeston</a>
                            <a href="/mobile-tyre-fitting/carlton" class="dropdown-item">Carlton</a>
                            <a href="/mobile-tyre-fitting/hucknall" class="dropdown-item">Hucknall</a>
                            <a href="/mobile-tyre-fitting/ilkeston" class="dropdown-item">Ilkeston</a>
                            <a href="/mobile-tyre-fitting/kirkby-in-ashfield" class="dropdown-item">Kirkby-In-Ashfield</a>
                            <a href="/mobile-tyre-fitting/long-eaton" class="dropdown-item">Long Eaton</a>
                            <a href="/mobile-tyre-fitting/mansfield" class="dropdown-item">Mansfield</a>
                            <a href="/mobile-tyre-fitting/newark" class="dropdown-item">Newark</a>
                            <a href="/mobile-tyre-fitting/sutton-in-ashfield" class="dropdown-item">Sutton-In-Ashfield</a>
                            <a href="/mobile-tyre-fitting/west-bridgford" class="dropdown-item">West Bridgford</a>
                            <a href="/mobile-tyre-fitting/worksop" class="dropdown-item">Worksop</a>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/contact-us" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>