---
import Card from "../components/Card.astro"
---

<section class="container">
    <div class="col-10 offset-1">
        <div class="text-center py-5">
            <h2 class="mb-3">Our Services</h2>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4">
                    <Card cardTitle="Mobile Tyre Fitting" cardText="Tyres Fitted At Home, Work or Roadside" cardLink="/mobile-tyre-fitting">
                        <i class="bi bi-car-front fs-1 mb-3"></i>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-4">
                    <Card cardTitle="Mobile Puncture Repair" cardText="We'll Come To You & Fix Your Flat Tyre" cardLink="/mobile-puncture-repair">
                        <i class="bi bi-vinyl fs-1 mb-3"></i>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-4">
                    <Card cardTitle="Caravan Tyre Fitting" cardText="Change Your Caravan Tyres The Easy Way" cardLink="/emergency-tyre-replacement">
                        <i class="bi bi-truck fs-1 mb-3"></i>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-4">
                    <Card cardTitle="Locking Wheel Nut Removal" cardText="All Car Makes & Models" cardLink="/locking-wheel-nut-removal">
                        <i class="bi bi-wrench-adjustable fs-1 mb-3"></i>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-4">
                    <Card cardTitle="Tyre Pressure Sensors" cardText="TPMS Diagnostics & Repair" cardLink="/tyre-pressure-monitoring-systems">
                        <i class="bi bi-wifi fs-1 mb-3"></i>
                    </Card>
                </div>
                <div class="col-md-6 col-lg-4">
                    <Card cardTitle="Batteries" cardText="Car & Van Battery Replacement at Home" cardLink="/mobile-battery-replacement">
                        <i class="bi bi-battery-charging fs-1 mb-3"></i>
                    </Card>
                </div>
            </div>
        </div>
    </div>
</section>