<article class="bg-light py-5">
    <div class="container">
        <h3 class="text-center fs-2">What Our Customers Think</h3>
        <p class="text-center">With a five-star rating on Google, you can trust us to look after your vehicle.</p>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-xl-3">
                <div class="bg-white border p-3 rounded-3">
                    <p class="fw-bold mb-0">Rachel Fletcher</p>
                    <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i>
                    <p class="small">Thoroughly recommended. Came out within 45 minutes and replaced my totally flat tyre quickly and for a good price. Quote on the phone so knew how much in advance, great communication from the friendly fitter. Would definitely recommend and use again.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="bg-white border p-3 rounded-3">
                    <p class="fw-bold mb-0">Mark Sansom</p>
                    <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i>
                    <p class="small">Great service and very fast. Excellent communication from the tyre fitter. Definitely use again and recommend. Thank you.👍</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="bg-white border p-3 rounded-3">
                    <p class="fw-bold mb-0">Jo Loscalzo</p>
                    <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i>
                    <p class="small">First time I've used a mobile tyre fitting company. These guys were so helpful when I phoned them and were very honest in helping me choose a tyre which didn't break the bank. The gentleman who visited my car was very polite and helpful and tyre fitted in less than 20 minutes. I would have no hesitation in recommending this company and would definitely use again.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="bg-white border p-3 rounded-3">
                    <p class="fw-bold mb-0">Peter Brown</p>
                    <i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i>
                    <p class="small">First class service, friendly, helpful and professional. Would recommend and definitely use this company again.</p>
                </div>
            </div>
        </div>
    </div>
</article>